{% extends "blog/base.html" %}
{% block content %}
<h1 class="display-3" style="color: deepskyblue">About Bandclick...</h1>
    <article class="media content-section">
                <p class="font-weight-light">Bandclick is a web application where musicians can create a personal user
                    account and search for other musicians within the site, to make a real-life
                     connection that will lead to musical collaboration</p>
        </article>
{% endblock content %}



