{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.user.username }}</a>
                <p class="article-content">{{ object.user.profile.bio }}</p>
            </div>
            <h2 class="article-title">{{ object.user.profile.instrument }}</h2>
            <p class="article-content">{{ object.user.profile.city }}</p>
        </div>
        <div class="form-group">
            <button class="btn btn-info" type="submit">message user</button>
        </div>
    </article>
{% endblock content %}